<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marco.burroundsmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity android:name=".TorneoDetail"></activity>
        <activity android:name=".StartTorneo"></activity>
        <activity android:name=".Gestisci"></activity>
        <activity android:name=".StartInserimento"></activity>



        <activity android:name=".SquadraDetailComposta"></activity>
        <activity android:name=".SquadraDetail"></activity>
        <activity android:name=".GiocatoreDetail"></activity>
        <activity android:name=".StartSquadra"></activity>
        <activity android:name=".StartGiocatore"></activity>











    </application>

</manifest>